<div>

    <div class="container-fluid page-body-wrapper">
        <br>
        <br>
        <div class="main-panel container">
            <div class="content-wrapper pt-xl-0 pt-5">
                <div class="row  mt-xl-0">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <a class="icon-buttons" title="Dashboard" href="#!/dashboard"><i class="mdi mdi-home" style="font-size:50px"></i></a>
                                <div class="" style="height: 75vh;">

                                    <h1 style="text-align: center;padding-top: 15%;">Access Denied</h1>

                                    <h5 style="text-align: center;">You don't have permission to access this page !</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>